!gradle-wrapper.jar
.gradle
build/
/local.properties
gradle-app.setting

.idea/
/out/
*.iml
*.ipr
*.iws

target/
/dependency-reduced-pom.xml

*.classpath
*.project
*.settings

/dist/
.nb-gradle/
.nb-gradle-properties

atlassian-ide-plugin.xml
.DS_Store
